
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hello {{username}}</h1>
    <div class="container">
        {% with messages = get_flashed_messages() %}
            {% if messages%}
                {% for msg in messages %}
                     <p> {{msg}} </p>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>

</body>
</html>